Package: org.coolstar.opensettings
Name: OpenSettings
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: CoolStar
Author: CoolStar
Section: Utilities
